.login {
  .container {
    width: 35%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;

    .btn {
     outline:0;
     border:none;
     border-top:none;
     border-bottom:none;
     border-left:none;
     border-right:none;
     box-shadow:inset 2px -3px rgba(0,0,0,0.15);
     background-color: #132832;
     color: #c89225;
   }
   .btn:hover {
     background-color: #223e49;
   }
  }
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
