<div class="row" style="margin-bottom: 30px; background-color: white">
  <div class="col-md-12">
    <div class="col-md-3">
      <%= image_tag(@worker.image, class: 'profile-pic img-responsive thumbnail')%>
    </div>
    <div class="col-md-3" style="padding-top: 4%">
      <h4>Name: <%= "#{@worker.first_name} #{@worker.last_name}" %></h4>
      <h4>Average Form Score: <span class="average"></span></h4>
      <h4>Unrated Forms: <span class='form-count'></span></h4>
      <h4>Follow Ups: <span class='follow-count'></span></h4>
    </div>
    <div class="col-md-6">
      <div id="worker-results" >

      </div>
    </div>
  </div>
</div>
