<div class="row">
  <div class="col-md-12">
    <div class="col-md-3">
      <%= image_tag @worker.profile_picture %>
    </div>
    <div class="col-md-3">
      <p>Name: <%= "#{@worker.first_name} #{@worker.last_name}" %></p>
      <p>Average Form Score: <span class="average"></span></p>
      <p>Follow Ups: <%= @worker.forms_to_follow_up.count %></p>
    </div>
    <div class="col-md-6">
      <div id="worker-results" >

      </div>
    </div>
  </div>
</div>

<!--
<div class="col-md-4 panel">
  <p>Name: <%#= "#{@worker.first_name} #{@worker.last_name}" %></p>
  <p>Average Form Score: <span class="average"></span></p>
  <p>Follow Ups: <%#= @worker.forms_to_follow_up.count %></p>
</div> -->
