<div class="title-show"><h2>FLRAs for <%= @worker.first_name %></h2></div>

<div data-worker="<%= @worker.id %>"></div>

<%= render partial: 'contact_card' %>

<%= render partial: 'form', collection: @flras, as: :flra %>
