<div class="title-show"><h2>FLRAs for <%= @worker.first_name %></h2></div>

<div data-worker="<%= @worker.id %>"></div>

<h3>Average Form Score: <span class="average"></span></h3>

<%= render partial: 'form', collection: @flras, as: :flra %>
