
<h1>Insights</h1>
<div id="manager-trends" style="min-width: 310px; height: 400px; margin: 0 auto">
</div>
<%= tag :div, class: "manager_information", data: {id: current_user.id} %>
<br>
<div class="container">

  <div id="injury-count"></div>
</div><br>
<div class="container">

  <div id="incident-map"></div>
</div>
<br>
<br><br>
