<center><h3>Contact Support</h3></center><br>
<div class="contact">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Phone Number">
  </div><br>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Subject">
  </div><br>
  <div class="input-group">
    <textarea class="form-control" rows="5" placeholder="Message"></textarea>
  </div><br>
  <button name="submit">Submit</button>
</div>
